# API RAWG
RAWG : https://rawg.io/apidocs

# API IGDB
IGDB : https://api-docs.igdb.com/

In [18]:
# Import
from dotenv import load_dotenv
import os
import sys
import requests
from requests import post
import json
import time
import pandas as pd
import ast

In [3]:
load_dotenv()

api_key_rawg = os.getenv("API_KEY_RAWG")
client_id_igdb = os.getenv("IGDB_ID_CLIENT")
client_secret_igdb = os.getenv("IGDB_SECRET_CLIENT")

In [4]:
# Récupération du token d'accès pour IGDB

url = f"https://id.twitch.tv/oauth2/token?client_id={client_id_igdb}&client_secret={client_secret_igdb}&grant_type=client_credentials"

print(url)
response = requests.post(url)
if response.status_code == 200:
    response_json = response.json()
    if 'expires_in' in response_json == 0:
        print(f"Le token a expiré, il faut le renouveler")
    access_token = response_json['access_token']
    print(f"Access Token: {access_token}")
else:
    print("Error fetching data from the API")
    print("Status code:", response.status_code)

https://id.twitch.tv/oauth2/token?client_id=wxbwlcskmokd9wdad9b24663j01q97&client_secret=80utj76in1slffnnrruzm67wvc7il8&grant_type=client_credentials
Access Token: f8aiuuakw1tdbqumtbrovicvb2x400

In [7]:
headers = {
    'Client-ID': client_id_igdb,   
    'Authorization': f'Bearer {access_token}',
    }

In [4]:
'''
Pagination IGDB -> limit max = 500 // Pour commencer plus loins -> offset = 500 
'''

'\nPagination IGDB -> limit max = 500 // Pour commencer plus loins -> offset = 500 \n'

In [5]:
# Récupération des données de IGDB ( 4 requetes par seconde )
url_igdb = "https://api.igdb.com/v4/games"

headers = {
    'Client-ID': client_id_igdb,
    'Authorization': f'Bearer {access_token}',
    'Body': "fields *;",
    'data': 'fields age_ratings,artworks,bundles,category,checksum,collections,cover,dlcs,expanded_games,expansions,external_games,first_release_date,franchise,franchises,game_localizations,game_modes,game_status,game_type,genres,hypes,involved_companies,keywords,language_supports,multiplayer_modes,name,parent_game,platforms,player_perspectives,ports,rating,rating_count,release_dates,remakes,remasters,slug,standalone_expansions,storyline,summary,tags,themes,total_rating,total_rating_count,version_parent,version_title,videos,websites;'
    }


response = post('https://api.igdb.com/v4/games', headers=headers, data='fields *; limit 10;')

# Vérification de la réponse
if response.status_code == 200:
    # On transforme la réponse en JSON
    response_json = response.json()
    # On transforme le JSON en DataFrame
    df = pd.DataFrame(response_json)
else:
    print("Error fetching data from the API")
    print("Status code:", response.status_code)
    
# Affichage du DataFrame
display(df)

,id,category,cover,created_at,game_engines,game_modes,genres,involved_companies,name,parent_game,...,alternative_names,franchises,rating,rating_count,total_rating,total_rating_count,game_localizations,age_ratings,franchise,multiplayer_modes
0,330684,14,437074,1738949769,[439],"[1, 2, 4]","[10, 33]",[306710],Nightmare Kart: The Old Karts,295664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,177310,0,256495,1634642434,[750],[1],"[13, 32]",[190784],The Undying Beast,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,282079,5,354470,1704811215,NaN,[1],"[5, 8]",[253727],Rockman X: New Year 2023,1741.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63844,0,120345,1505125971,NaN,"[1, 2, 4]",[14],[113526],Ace wo Nerae!,NaN,...,"[52401, 118236]",[2330],52.904629,5.0,52.904629,5.0,[2159],NaN,NaN,NaN
4,338541,7,449138,1743773041,NaN,[1],[10],[314234],Mario Kart Tour: Vancouver Tour,85663.0,...,NaN,[845],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,157761,1,380797,1626338753,NaN,[1],[13],"[144890, 144891]",Microsoft Flight Simulator X: Steam Edition - ...,36261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,335661,0,444936,1742049962,[206],[1],"[32, 33]",[311598],Everlasting Tower,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,348397,0,464597,1749430032,NaN,[1],"[14, 32]",NaN,Baccarat,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,347317,0,465492,1749177413,NaN,[1],"[9, 13, 15, 33]",NaN,Cat Cosmic Puzzle,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[212650, 213490]",NaN,NaN
9,2329,0,95862,1372630174,NaN,"[1, 2, 3, 4]","[26, 35]","[190541, 190542, 225625]",Mario Party 3,NaN,...,"[34041, 137901]","[24, 845]",75.892891,97.0,75.892891,97.0,"[3461, 28758]","[8718, 96855]",24.0,[17692]

# Game Engines

In [6]:
# Pour completer le dataframe il va falloir faire des requetes sur les autres endpoints de l'API IGDB
# Il faut notamment récuperers les game_engines, les games_modes, les genres, les involved_companies, les platformrs, les player perspectives, les release_dates, les screenxhot, les themes, les videos, les game_type, les artworks, les external_games, les first_release_date, les tags, les age_ratings, les keywords, les collections, les languages_supports, les alternative_names, les franchises, les game_localizations

In [6]:
# Récuperer le nombres d'engines
url_igdb_engines_count = "https://api.igdb.com/v4/game_engines/count"

headers = {
    'Client-ID': client_id_igdb,   
    'Authorization': f'Bearer {access_token}',
    }

response = post(url_igdb_engines_count, headers=headers, data='fields *;')
print(response.json())

{'count': 1382}

In [8]:
# Récupération des game_engines

# Si logo a recup -> https://api.igdb.com/v4/game_engine_logos

headers_game_engines = {
    'Client-ID': client_id_igdb,
    'Authorization': f'Bearer {access_token}',
}

response = post('https://api.igdb.com/v4/game_engines', headers=headers_game_engines , data='fields companies,description,logo,name,slug; limit 100;')
# Vérification de la réponse
if response.status_code == 200:
    # On transforme la réponse en JSON
    response_json = response.json()
    # On transforme le JSON en DataFrame
    df_game_engines = pd.DataFrame(response_json)
else:
    print("Error fetching data from the API")
    print("Status code:", response.status_code)
    
df_game_engines

,id,name,slug,description,companies,logo
0,220,Vicious Engine,vicious-engine,NaN,NaN,NaN
1,1184,Bitsy 3D,bitsy-3d,NaN,NaN,NaN
2,1597,Star Rod,star-rod,Star Rod is a modding tool for Paper Mario (Ni...,NaN,NaN
3,339,The Eight-Bit Universal Role Playing Engine,the-eight-bit-universal-role-playing-engine,NaN,NaN,NaN
4,127,LS3D,ls3d,NaN,NaN,NaN
...,...,...,...,...,...,...
95,1186,Rockstar Advanced Game Engine,rockstar-advanced-game-engine,NaN,NaN,NaN
96,1484,Ebitengine,ebitengine,Ebitengine (Eh-Bee-Ten-Gin) (formerly known as...,NaN,227.0
97,389,Pixi,pixi,NaN,NaN,NaN
98,502,Autodesk Beast,autodesk-beast,NaN,NaN,NaN
99,1608,Action Editor 4,action-editor-4,Alternative spelling: Action Editor(Anton),[37971],NaN

In [9]:
# Fonction pour récupérer toutes les game engines (1364) avec pagination
headers_game_engines = {
    'Client-ID': client_id_igdb,
    'Authorization': f'Bearer {access_token}',
}

def get_all_game_engines():
    all_game_engines = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/game_engines', headers=headers_game_engines, data=f'fields companies,description,logo,name,slug; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_engines.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_engines)

In [10]:
all_game_engines_df = get_all_game_engines()
display(all_game_engines_df)
# Exporter le DataFrame en CSV
all_game_engines_df.to_csv('../csv/game_engines.csv', index=False)

,id,name,slug,description,companies,logo
0,220,Vicious Engine,vicious-engine,NaN,NaN,NaN
1,1184,Bitsy 3D,bitsy-3d,NaN,NaN,NaN
2,1597,Star Rod,star-rod,Star Rod is a modding tool for Paper Mario (Ni...,NaN,NaN
3,339,The Eight-Bit Universal Role Playing Engine,the-eight-bit-universal-role-playing-engine,NaN,NaN,NaN
4,127,LS3D,ls3d,NaN,NaN,NaN
...,...,...,...,...,...,...
1365,590,J2ME,j2me,"Java Platform, Micro Edition (Java ME) provide...",[1506],129.0
1366,509,Unity 2017,unity-2017,The 6th version of the Unity engine released o...,[3067],NaN
1367,1325,Taito Type-X2,taito-type-x2,NaN,NaN,NaN
1368,439,Unreal Engine 4,unreal-engine-4--1,Unreal Engine 4 is a complete suite of game de...,[17463],50.0
1369,456,Godot,godot,"Godot is an advanced, feature-packed, multi-pl...",NaN,367.0

# Game Engines Logo

In [11]:
def get_all_game_engines_logos():
    all_game_engines_logos = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/game_engine_logos', headers=headers_game_engines, data=f'fields url; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_engines_logos.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_engines_logos)

In [12]:
all_game_engines_logos_df = get_all_game_engines_logos()
display(all_game_engines_logos_df)
# Exporter le DataFrame en CSV
all_game_engines_logos_df.to_csv('../csv/game_engines_logos.csv', index=False)

      id                                                url
0    397  //images.igdb.com/igdb/image/upload/t_thumb/ge...
1    404  //images.igdb.com/igdb/image/upload/t_thumb/ge...
2    412  //images.igdb.com/igdb/image/upload/t_thumb/ge...
3    413  //images.igdb.com/igdb/image/upload/t_thumb/ge...
4     12  //images.igdb.com/igdb/image/upload/t_thumb/q0...
..   ...                                                ...
284  167  //images.igdb.com/igdb/image/upload/t_thumb/ge...
285  237  //images.igdb.com/igdb/image/upload/t_thumb/ge...
286  360  //images.igdb.com/igdb/image/upload/t_thumb/ge...
287  149  //images.igdb.com/igdb/image/upload/t_thumb/ge...
288  340  //images.igdb.com/igdb/image/upload/t_thumb/ge...

[289 rows x 2 columns]

# PLateformes

In [13]:
# Voir le nombre de platforms
url_igdb_platforms_count = "https://api.igdb.com/v4/platforms/count"

response = post(url_igdb_platforms_count, headers=headers, data='fields *;')
print(response.json())

{'count': 220}

In [14]:
# Récupérations des platforms
def get_all_platforms():
    all_platforms = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API
    
    while True:
        response = post('https://api.igdb.com/v4/platforms', headers=headers, data=f'fields *; exclude websites,checksum,created_at,updated_at,url;limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:
                break
            all_platforms.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break
    return pd.DataFrame(all_platforms)

In [15]:
all_platform = get_all_platforms()
display(all_platform)
# Exporter le DataFrame en CSV
all_platform.to_csv('../csv/platforms.csv', index=False)

,id,category,generation,name,platform_logo,platform_family,slug,versions,platform_type,alternative_name,abbreviation,summary
0,306,1.0,4.0,Satellaview,595.0,5.0,satellaview,[423],1.0,NaN,NaN,NaN
1,339,1.0,4.0,Sega Pico,600.0,3.0,sega-pico,[456],1.0,Kids Computer Pico,NaN,NaN
2,376,1.0,3.0,Epoch Super Cassette Vision,743.0,NaN,epoch-super-cassette-vision,[494],1.0,YENO Super Cassette Vision,NaN,NaN
3,12,1.0,7.0,Xbox 360,622.0,2.0,xbox360,"[2, 3, 495, 83]",1.0,X360,X360,Xbox 360 brings you a total games and entertai...
4,32,1.0,5.0,Sega Saturn,49.0,3.0,saturn,[65],1.0,"JVC Saturn, Hi-Saturn, Samsung Saturn, V-Saturn",Saturn,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
215,82,3.0,NaN,Web browser,825.0,NaN,browser,"[663, 662, 655, 656, 657, 658, 659, 86, 661, 660]",3.0,Internet,browser,NaN
216,90,6.0,NaN,Commodore PET,543.0,NaN,cpet,[103],6.0,NaN,cpet,NaN
217,126,6.0,NaN,TRS-80,372.0,NaN,trs-80,[164],6.0,NaN,NaN,NaN
218,130,1.0,8.0,Nintendo Switch,606.0,5.0,switch,"[282, 173, 503]",1.0,NX,Switch,NaN
219,159,5.0,7.0,Nintendo DSi,246.0,5.0,nintendo-dsi,"[228, 229]",5.0,NaN,NaN,NaN

In [16]:
# Details des versions des plateforms
# Récupération des versions des platforms
def get_all_platform_versions():
    all_platform_versions = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API
    
    while True:
        response = post('https://api.igdb.com/v4/platform_version', headers=headers, data=f'fields *; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:
                break
            all_platform_versions.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break
            
    return pd.DataFrame(all_platform_versions)

# Player perspectives

In [17]:
# Nombre de player perspectives
url_igdb_player_perspectives_count = "https://api.igdb.com/v4/player_perspectives/count"

response = post(url_igdb_player_perspectives_count, headers=headers, data='fields *;')
print(response.json())

{'count': 7}

In [18]:
# Fonction pour récupérer toutes les player perspectives
def get_all_player_perspectives():
    """
    Récupère toutes les perspectives de joueur depuis l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_player_perspectives = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/player_perspectives', headers=headers, data = f'fields id,name,slug; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_player_perspectives.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_player_perspectives)

In [19]:
all_player_perspective = get_all_player_perspectives()
display(all_player_perspective)
# Exporter le DataFrame en CSV
all_player_perspective.to_csv('../csv/player_perspectives.csv', index=False)

   id                   name                       slug
0   1           First person               first-person
1   2           Third person               third-person
2   3  Bird view / Isometric  bird-view-slash-isometric
3   4              Side view                  side-view
4   5                   Text                       text
5   6               Auditory                   auditory
6   7        Virtual Reality            virtual-reality

In [20]:
response = post('https://api.igdb.com/v4/companies', headers=headers, data=f'fields changed_company_id,country,description,developed,logo,name,parent,published,slug,start_date,status;')
print ("response: %s" % str(response.json()))

response: [{'id': 61668, 'country': 840, 'description': 'CyrustheVirus Studios was established by Sheldon Slater, also known as CyrustheVirus001, in 2019. Serving as the sole developer, programmer, animator, artist, and composer for the project Cold Lazarus.', 'developed': [289276], 'name': 'CyrusTheVirus Studios', 'slug': 'cyrusthevirus-studios', 'start_date': 1548979200, 'status': 0}, {'id': 30720, 'country': 203, 'description': '300AD is an independent company associating developers and distributors of games, which has been in the business for more than 6 years. \n \nThe success of our games consists in the design purity, simplicity and maximum playability, which brings our players lots of fun. We do not compete with large companies which produce games for hard-core players only. On the contrary, we aim to do games which can be played by children, their parents and possibly any people who want to take a rest from their busy lives for a while.', 'developed': [80245, 52452, 144481, 142326, 142325, 144511, 141970], 'logo': 3995, 'name': '300AD', 'slug': '300ad', 'status': 0}, {'id': 540, 'country': 276, 'description': '10TACLE STUDIOS was specialized in the development of games that brought a significant added value to the field of game design.', 'developed': [92755], 'logo': 1902, 'name': '10tacle Studios', 'published': [736, 738, 11286, 15762, 27466, 125168, 21516, 79753], 'slug': '10tacle-studios', 'start_date': 1072828800, 'status': 1}, {'id': 64121, 'country': 156, 'description': "Sunborn Network Technology (formerly LBX Network Technology) is the legal representative video game company front of MICA Team - a Chinese independent video game developer. Both companies were founded by Yuzhong and owned by him, with him being the president of both. Due to Sunborn's status as a private, limited company, the only outside coroporation with investments into it is Tencent, which acquired a 20% shares of Sunborn through a tactical investment in 2021. Yuzhong owns 70% equity, directly in shares and indirectly through his self-founded private equity firms, which he uses to reinvest his CEO salary. The other 10% is owned by numerous other employees of Sunborn.[2]\n\nWhile many see Sunborn as a legal shell for MICA Team, they are officially still stated to be two separate entities, and often appear side by side during conferences and conventions.", 'logo': 18002, 'name': 'Sunborn Network Technology', 'parent': 17151, 'slug': 'sunborn-network-technology', 'start_date': 1445731200, 'status': 0}, {'id': 62963, 'country': 76, 'developed': [339674], 'name': 'NoShadow', 'published': [339674], 'slug': 'noshadow', 'start_date': 1630454400, 'status': 0}, {'id': 61769, 'country': 724, 'developed': [332279], 'logo': 16685, 'name': 'Mideas Game Studio', 'published': [332279], 'slug': 'mideas-game-studio', 'status': 0}, {'id': 61767, 'developed': [332276], 'name': 'Zeta Zash', 'published': [332276], 'slug': 'zeta-zash', 'status': 0}, {'id': 61768, 'developed': [332278], 'name': 'emokoshka', 'published': [332278], 'slug': 'emokoshka', 'status': 0}, {'id': 61715, 'developed': [332147], 'logo': 16651, 'name': 'FATHILLL GAMES', 'published': [332147], 'slug': 'fathilll-games', 'status': 0}, {'id': 64122, 'name': 'Starberry Games GmbH', 'slug': 'starberry-games-gmbh', 'status': 0}]

# Multiplayer modes

In [21]:
# Fonction pour récupérer tout les modes de jeu 
def get_all_multiplayer_modes():
    """
    Récupère tout les mode de jeu depuis l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_multiplayer_modes= []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/multiplayer_modes', headers=headers, data = f'fields campaigncoop,lancoop,offlinecoop,offlinecoopmax,offlinemax,onlinecoop,onlinecoopmax,onlinemax,splitscreen,splitscreenonline,platform; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_multiplayer_modes.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_multiplayer_modes)

In [22]:
# Colonne Splitscreenonline vide sur igdb donc pour la récuperer on va forcer le colonne dans le dataframe, elle sera vide

all_multiplayer_modes = get_all_multiplayer_modes()
# Liste complète des champs attendus
all_cols = [
    'id', 'campaigncoop', 'lancoop', 'offlinecoop', 'offlinecoopmax', 'offlinemax',
    'onlinecoop', 'onlinecoopmax', 'onlinemax', 'splitscreen', 'splitscreenonline', 'platform'
]

df = pd.DataFrame(all_multiplayer_modes)  # ou response_json

# Ajoute la colonne absente avec None (ou np.nan si tu préfères)
for col in all_cols:
    if col not in df.columns:
        df[col] = None

# Réorganise l’ordre si tu veux
df = df[all_cols]

# Exporte
df.to_csv("../csv/multiplayer_modes.csv", index=False)

In [23]:
print(df[df.duplicated(subset='id', keep=False)])

Empty DataFrame
Columns: [id, campaigncoop, lancoop, offlinecoop, offlinecoopmax, offlinemax, onlinecoop, onlinecoopmax, onlinemax, splitscreen, splitscreenonline, platform]
Index: []

# Game Type

In [24]:
# Fonction pour récupérer les types de jeu 
def get_all_game_types():
    """
    Récupère les types de jeu depuis l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_game_types= []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/game_types', headers=headers, data = f'fields type; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_types.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_types)

In [25]:
all_multiplayer_modes = get_all_game_types()
display(all_multiplayer_modes)
# Exporter le DataFrame en CSV
all_multiplayer_modes.to_csv('../csv/game_types.csv', index=False)

    id                  type
0    3                Bundle
1    1                   DLC
2    6               Episode
3    4  Standalone Expansion
4    5                   Mod
5    8                Remake
6   11                  Port
7    7                Season
8   12                  Fork
9   14                Update
10  10         Expanded Game
11  13          Pack / Addon
12   9              Remaster
13   2             Expansion
14   0             Main Game

# Language supports

In [28]:
# Fonction pour récupérer les supports de langues
def get_all_language_supports():
    """
    Récupère les supports de langue depuis l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_language_supports= []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/language_supports', headers=headers, data = f'fields language,language_support_type, game; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_language_supports.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_language_supports)

In [29]:
all_language_supports = get_all_language_supports()
display(all_language_supports)
# Exporter le DataFrame en CSV
all_language_supports.to_csv('../csv/language_supports.csv', index=False)

              id    game  language  language_support_type
0           1001  113494         7                      1
1        1042224  309457        13                      1
2           4001   76477         7                      2
3           2001   24816         1                      3
4           6001  112929        22                      3
...          ...     ...       ...                    ...
1223821  1297568  351798         7                      2
1223822  1297570  351798        27                      2
1223823  1297562  351798        12                      3
1223824  1297569  351798         9                      2
1223825  1297563  351798         7                      3

[1223826 rows x 4 columns]

# Language

In [34]:
# Fonction pour récupérer les langues
def get_all_language():
    """
    Récupère les langues depuis l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_language = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/languages', headers=headers, data = f'fields locale, name, native_name; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_language.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_language)

In [35]:
all_language = get_all_language()
display(all_language)
# Exporter le DataFrame en CSV
all_language.to_csv('../csv/language.csv', index=False)

    id                   name           native_name locale
0    1                 Arabic               العربية     ar
1    2   Chinese (Simplified)                  简体中文  zh-CN
2    3  Chinese (Traditional)                  繁體中文  zh-TW
3    4                  Czech               čeština  cs-CZ
4    5                 Danish                 Dansk  da-DK
5    6                  Dutch            Nederlands  nl-NL
6    7                English          English (US)  en-US
7    8           English (UK)          English (UK)  en-GB
8    9        Spanish (Spain)      Español (España)  es-ES
9   10       Spanish (Mexico)      Español (Mexico)  es-MX
10  12                 French              Français  fr-FR
11  14              Hungarian                Magyar  hu-HU
12  11                Finnish                 Suomi  fi-FI
13  15                Italian              Italiano  it-IT
14  13                 Hebrew                 עברית  he-IL
15  16               Japanese                   日本語  ja-JP
16  17                 Korean                   한국어  ko-KR
17  18              Norwegian                 Norsk  nb-NO
18  20  Portuguese (Portugal)  Português (Portugal)  pt-PT
19  21    Portuguese (Brazil)    Português (Brasil)  pt-BR
20  19                 Polish                Polski  pl-PL
21  22                Russian               Русский  ru-RU
22  24                Turkish                Türkçe  tr-TR
23  25                   Thai                   ไทย  th-TH
24  26             Vietnamese            Tiếng Việt  vi-VN
25  23                Swedish               Svenska  sv-SE
26  27                 German               Deutsch  de-DE
27  28              Ukrainian            українська  uk-UA

# Language supports type

In [40]:
# Fonction pour récupérer les type de support pour les langues
def get_all_language_supports_type():
    """
    Récupère les types de support de langues depuis l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_language_supports_type = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/language_support_types', headers=headers, data = f'fields name; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_language_supports_type.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_language_supports_type)

In [41]:
all_language_supports_type = get_all_language_supports_type()
display(all_language_supports_type)
# Exporter le DataFrame en CSV
all_language_supports_type.to_csv('../csv/language_supports_type.csv', index=False)

   id       name
0   1      Audio
1   2  Subtitles
2   3  Interface

# Game type et game_id de l'API de game (table game_game_category)

In [1]:
# Fonction pour récupérer les type de support pour les langues
def get_all_game_types_from_game():
    """
    Récupère les types de jeux dans la partie Game de l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_game_types_from_game = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/games', headers=headers, data = f'fields game_type; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_types_from_game.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_types_from_game)

In [8]:
all_game_types_from_game = get_all_game_types_from_game()
display(all_game_types_from_game)
# Exporter le DataFrame en CSV
all_game_types_from_game.to_csv('../csv/game_game_type.csv', index=False)

            id  game_type
0       330684         14
1       177310          0
2       282079          5
3        63844          0
4       338541          7
...        ...        ...
321742   34207          2
321743    8993          0
321744  154420          3
321745    6253          0
321746   11261          0

[321747 rows x 2 columns]

# Game player_perspective et game_id de l'API de game (table game_player_perspective)

In [10]:
# Fonction pour récupérer les type de support pour les langues
def get_all_game_player_perspective():
    """
    Récupère les player perspective des jeux dans la partie Game de l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_game_player_perspective = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/games', headers=headers, data = f'fields player_perspectives; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_player_perspective.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_player_perspective)

In [ ]:
all_game_player_perspective = get_all_game_player_perspective()
display(all_game_player_perspective)

            id player_perspectives
0       330684                 [2]
1       177310                 [1]
2       282079              [2, 4]
3        63844                 [2]
4       338541                 [2]
...        ...                 ...
321742   34207                 NaN
321743    8993                 [3]
321744  154420                 [1]
321745    6253                 [4]
321746   11261                 [4]

[321747 rows x 2 columns]

In [16]:
# Exporter le DataFrame en CSV
all_game_player_perspective.to_csv('../csv/game_player_perspective.csv', index=False)

In [ ]:
# Séparer les player_perspectives si ils y en a plus d'une dans la colonne pour faciliter l'insertion dans la bdd

all_game_player_perspective_exploded = pd.read_csv('../csv/game_player_perspective.csv')

# Conversion de la chaîne "[2, 4]" → liste [2, 4]
all_game_player_perspective_exploded['player_perspectives'] = all_game_player_perspective_exploded['player_perspectives'].apply(
    lambda x: ast.literal_eval(x) if pd.notnull(x) and x != "Missing value" else []
)

all_game_player_perspective_exploded = all_game_player_perspective_exploded.explode('player_perspectives')

all_game_player_perspective_exploded= all_game_player_perspective_exploded.rename(columns={
    'id': 'game_id',
    'player_perspective': 'player_perspective_id'
})

display(all_game_player_perspective_exploded)

        game_id player_perspectives
0        330684                   2
1        177310                   1
2        282079                   2
2        282079                   4
3         63844                   2
...         ...                 ...
321742    34207                 NaN
321743     8993                   3
321744   154420                   1
321745     6253                   4
321746    11261                   4

[338782 rows x 2 columns]

In [20]:
# Exporter le DataFrame en CSV
all_game_player_perspective_exploded.to_csv('../csv/game_player_perspective_exploded.csv', index=False)

# Age Rating

In [ ]:
# Fonction pour récupérer les type de support pour les langues
def get_all_age_ratings():
    """
    Récupère les player perspective des jeux dans la partie Game de l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_game_player_perspective = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/games', headers=headers, data = f'fields player_perspectives; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_player_perspective.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_player_perspective)

# Age rating from Game

In [21]:
# Fonction pour récupérer les type de support pour les langues
def get_all_game_age_rating():
    """
    Récupère les age ratings des jeux dans la partie Game de l'API IGDB avec pagination.
    
    Returns:
        pd.DataFrame: DataFrame contenant toutes les perspectives de joueur.
    """
    all_game_age_rating = []
    offset = 0
    limit = 500  # Maximum limit for IGDB API

    while True:
        response = post('https://api.igdb.com/v4/games', headers=headers, data = f'fields age_ratings; limit {limit}; offset {offset};')
        
        if response.status_code == 200:
            response_json = response.json()
            if not response_json:  # If no more data, break the loop
                break
            all_game_age_rating.extend(response_json)
            offset += limit
        else:
            print("Error fetching data from the API")
            print("Status code:", response.status_code)
            break

    return pd.DataFrame(all_game_age_rating)

In [22]:
all_game_age_rating = get_all_game_age_rating()
display(all_game_age_rating)

            id       age_ratings
0       330684               NaN
1       177310               NaN
2       282079               NaN
3        63844               NaN
4       338541               NaN
...        ...               ...
321742   34207  [107225, 123510]
321743    8993               NaN
321744  154420               NaN
321745    6253               NaN
321746   11261   [65667, 123468]

[321747 rows x 2 columns]

In [27]:
# Séparer les age ratings si ils y en a plus d'une dans la colonne pour faciliter l'insertion dans la bdd

def safe_eval(x):
    if isinstance(x, str) and x != "Missing value":
        try:
            return ast.literal_eval(x)
        except:
            return []
    elif isinstance(x, list):
        return x
    else:
        return []

# Application robuste
all_game_ratings_exploded = all_game_age_rating.copy()
all_game_ratings_exploded['age_ratings'] = all_game_ratings_exploded['age_ratings'].apply(safe_eval)
all_game_ratings_exploded = all_game_ratings_exploded.explode('age_ratings')

# Renommage final
all_game_ratings_exploded = all_game_ratings_exploded.rename(columns={
    'id': 'game_id',
    'age_ratings': 'age_ratings_id'
})

In [29]:
display(all_game_ratings_exploded)

all_game_ratings_exploded.to_csv("../csv/game_age_ratings.csv")

        game_id age_ratings_id
0        330684            NaN
1        177310            NaN
2        282079            NaN
3         63844            NaN
4        338541            NaN
...         ...            ...
321743     8993            NaN
321744   154420            NaN
321745     6253            NaN
321746    11261          65667
321746    11261         123468

[417684 rows x 2 columns]